@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content";

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

html {
  scroll-padding-top: calc(var(--ui-header-height) + calc(var(--spacing) * 8));
}

[tabindex="-1"]:focus {
  outline: none;
}
